/* Цвета:
	rgba(255, 228, 196, 0.8) - Bisque: ARTICLE
	rgba(255, 222, 173, 0.6)
*/
@font-face {
	font-family: HEADER;
	src: url(https://serolapy.github.io/css/fonts/DidactGothic.ttf);
}

body {
	font-family: Arial;
	margin: 0px;
	background: #ffdead;
}

header {
	width: 100%;
	color: black;
	font-family: HEADER, Arial;
}

nav {
	width: 100%;
	margin-bottom: 15px;
}

article { /*none*/
}

footer {
	text-align: center;
	font-family: HEADER, Arial;
}

	nav a, footer a {
		text-decoration: none;
		color: black;
	}

		nav a:hover, footer a:hover {
			text-decoration: underline;
		}

h1 {
	text-align: center;
	font-family: HEADER;
	border: 2px black solid;
	width: calc(100% - 4px);

	border-radius: 0 15px 0 15px;
	margin: 10px 0 10px 0;
}
h2 {
	text-align: center;
	font-family: HEADER;
	border: 2px black solid;
	width: calc(100% - 4px);
	border-radius: 0 0 15px 15px;
	margin: 1px 0 10px 0;
}
h3 {
	text-align: center;
	font-family: HEADER;
	border-top: 2px black solid;
	width: calc(100% - 4px);
	margin: 1px 0 1px 0;
	border-bottom: 2px black solid;
	font-style: italic;
}
h4 {
	font-weight: bold;
	font-style: italic;
	border-bottom: 1px black dashed;
	margin: 10px 0 10px 0;
}