/* Цвета:
    rgba(255, 228, 196, 0.8) - Bisque: ARTICLE
    rgba(255, 222, 173, 0.6)
*/
@font-face {
	font-family: HEADER;
	src: url(https://serolapy.github.io/css/fonts/DidactGothic.ttf);
}

body {
	font-family: Arial;
	margin: 0px;
	background: #ffdead;
}

.pages {
	display: none;
	margin: 10px;
}

header, nav, footer {
	width: 100%;
	text-align: center;
	margin: 2.5px 0 2.5px 0;
}

	header a {
		text-decoration: none;
		font-family: HEADER;
	}

		header a:hover {
			color: black;
		}

			header a:hover::before {
				content: '<---- ';
			}

.btnPages {
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	margin-left: auto;
	display: inline-block;
	border: 1px black solid;
	transition: 0.5s;
}

	.btnPages:hover {
		color: black;
		background-color: #cc660033;
	}
