#avatar{
	display:block;
}
#id{
	background-color: rgba(255, 222, 173,0.6);
    color: black;
}
#btn{
	text-align: center;
    background-color: white;
    color: black;
    border: 1px solid black;
    outline: none;
}
#btn:hover{
	background-color: rgba(222, 184, 135, 0.8);
}
#img{
	margin: auto;
    display: block;
}