a{
	color: var(--links);
}
h2{
	margin: 0;
	border-bottom: 3px dotted var(--borders);
	text-align: center;
}
h3{
	display: inline-block;
}
fieldset{
	display: block;
	margin: 5px 5px 0 5px;
	border: 2px solid var(--borders);
	overflow-y: hidden;
	height: auto;

    transition-duration: 5s;
    transition-timing-function: cubic-bezier(0, 0.88, 0.39, 0.75);
}
	fieldset legend{
		font-weight: bold;
		border: 2px solid var(--borders);
	}
	fieldset.hide{
		height: 0;
	}

input[type=text]:not(.input-id), input[type=number]{
	background:none;
	border: 1px solid rgba(0,0,0,0);
	display: inline-block;
	width: 85%;
	border-bottom: 1px solid black;
	outline: none;
	font-family: HEADER;

	/*для намбер*/
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
    input[type=text]:not(.input-id):focus, input[type=number]:focus{
    	border: 1px dashed black;
    	background: var(--hoverBlock);
    }
	input[type=text]:not(.input-id):hover, input[type=number]:hover{
		background: var(--hoverBlock);
	}

	/*убираем стрелки у намбер*/
	input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
	    display: none;
    }
    input[type=text]:not(.input-id)::placeholder, input[type=number]::placeholder{
    	font-family: Arial;
    }

input.import{
	cursor: pointer;
}

input.input-id{
	border: none;
	outline: none;
	background: none;
	width: 45px;
	border-bottom: 1px solid black;
	/*color: var(--mainText);*/
}
select{
	background: none;
	border: none;
	outline: none;
	border-bottom: 1px solid black;
	width: 85%;
}
    select:hover{
    	background: var(--hoverBlock);
    }
    select:focus{
    	border: 1px dashed black;
    	background: var(--hoverBlock);
    }
    option{
    	background: var(--hoverBlock);
    }

input[type=button]{
	display: block;
	text-align: center;
	background: var(--hoverBlock);
	border: 1px solid black;
	height: 25px;
	width: 85%;
	margin: 5px auto;
	border: 1px solid var(--borders);
}
input.btnAddRemove{
	width: 25px;
}
/*скролл бары*/
::-webkit-scrollbar{
	width: 5px;

	background: none;
}
::-webkit-scrollbar:hover{
	background: var(--hoverBlock);
}
::-webkit-scrollbar-thumb{
	background: var(--text);
}
*{
	scrollbar-width: thin;
	scrollbar-color: var(--text) var(--hoverBlock);
}

/*
	ПАНЕЛЬ ЗАГРУЗКИ ФАЙЛОВ
*/
#uploadDiv{
	display: none;
	position: fixed;
	height: 75%;
	width: 75%;
	top: 12.5%;
	left: 12.5%;

	background: var(--bodyBlocksColor);
	border: 5px solid var(--borders);
	box-shadow: 0 0 100px 20px black;
}
/*
	ПАНЕЛЬ ОШИБОК
*/
#errorPanel{
	display: block;
	position: fixed;
	bottom: 0;
	right: calc(-1 * var(--asideWidth) - 10px);
	width: calc(var(--asideWidth) - 10px);
	min-height: 64px;
	max-height: calc(100% - 95px);
	transition: 2s;

	background: RGBA(241,90,90,.9);
	cursor: pointer;
	padding: 5px;
	color: black;
	overflow-y: overlay;
}
.errorDiv{
	margin-bottom: 5px;
	border-bottom: 1px dotted var(--borders);
}
	.errorDiv > span{
		font-weight: bold;
	}
/*
	SCRIPTS
*/
.window:not(.windowDefault){
	display: none;
}
#location-create-createBlock, #bots-create-createBlock, #dialog-create-createBlock{
	display: none;
}

/*
    ПРОЧЕЕ
*/
/*диалоги*/
.replica{
	background: var(--hoverBlock);
	padding: 5px;
	margin: 10px;
	border-bottom: 5px dashed black;
}
/*поля ввода позиций ботов и переходов*/
.field{
	border-width: 1px;
}
	.field td{
		padding: 0;
		/*мин. значения*/
		height: 67.56px;
	}
